.secondlogo{
  display: none;
}
.card1{
  flex-shrink: 0;
}
.extraint span{
  display: none;
}
.cnt1{
  overflow-x: scroll;
  scrollbar-width: none;
}
.listandinp input{
  display: none;
}
@media  screen and   (min-width: 2051px) and (max-width: 2560px){
    .nav{
      width: 80%;
      margin: auto auto;
    }
    .cnt1{
      justify-content: space-between;

    }
    ul{
      justify-content: center;
      gap: 20px;
    }
    .content1{
      width: 80%;
      margin: auto auto;
    }
    .content1 .cnt1{
      width: 100%;
    }
    .foot{
      width: 90%;
      margin: auto auto;
    }
    .incard img{
      width: 300px;
      height: 300px;
    }
}

@media  screen and   (min-width: 1441px) and (max-width: 2051px){
  .content1{
      width: 90%;
      margin: auto auto;
    }
    .incard img{
      width: 210px;
      height: 210px;
    }
}


@media screen and (min-width: 1163px) and (max-width: 1440px) {
  .foot{
    width: 100%;
  }
  .content1{
      width: 90%;
      margin: auto auto;
    }
      .incard img{
        width: 180px;
        height: 180px;
      }
    .nav{
      width: 90%;
      margin: auto;
    }
}
@media screen and (min-width: 948px) and (max-width: 1162px) {
  .nav{
    width: 100%;
    margin: auto auto;  
  }
  .menu{
    justify-content: center;
    flex: 1;
  }
  .navlist{
    
    flex: 6;
  }
  .logo{
    flex: 1;
  }
  .btn1{
    display: none;
  }
  .inp{
    width: 80%;
  }
}
@media screen and (min-width: 766px) and (max-width: 948px) {
  .firstlogo{
    display: none;
  }
  .secondlogo{
    display: block;
  }
  .nav{
    width: 100%;
  }
  .iner img{
    width: 35px;
    height: 35px;
  }
  .iner p{
    font-size: small;
  }
  .iner{
    gap: 2px;
  }
  
  .inp{
    width: 90%;
  }
  .btn1{
    display: none;
  }
  
}
@media screen and (min-width:603px) and (max-width:766px) {
.listandinp input{
    margin: auto;
  display: block;
}
.inp{
  display: none;
}
.logo{
  display: none;
}
.menu{
  display: none;
}

  .nav{
    justify-content: end;
    padding-bottom: 10px;
    height: 150px;
    
  }
  .listandinp{
    gap: 20px;
  }
  ul{
    width: 80%;
    justify-content: space-between;
  }
  .extraint span{
  display: block;
}
}
@media screen and (min-width:10px) and (max-width:603px){
  body{
    width: 106vh;
  }
  .listandinp input{
    margin: auto;
  display: block;
}
.inp{
  display: none;
}
.logo{
  display: none;
}
.menu{
  display: none;
}
.incard img{
        width: 300px;
        height: 300px;
      }

  .nav{
    justify-content: end;
    padding-bottom: 10px;
    height: 150px;
    
  }
  .listandinp{
    gap: 20px;
  }
  ul{
    width: 80%;
    justify-content: space-between;
  }
  .extraint span{
  display: block;
}
.extraint input{
  padding-left: 40%;
}
.extraint span{
  right: 49%;
}
}

@media screen and (min-width:510px) and (max-width:550px){
.extraint span{
  right: 45%;
}

}
@media screen and (min-width:480px) and (max-width:510px){
.extraint span{
  right: 40%;
}
}

@media screen and (min-width:465px) and (max-width:480px){
.extraint span{
  right: 35%;
}
}
@media screen and (min-width:420px) and (max-width:465px){
.extraint span{
  right: 30%;
}
}
@media screen and (min-width:370px) and (max-width:420px){
.extraint span{
  right: 25%;
}
}
@media screen and (min-width:320px) and (max-width:370px){
.extraint span{
  right: 20%;
}
}