.secondlogo{
  display: none;
}
.card1{
  flex-shrink: 0;
}
.extraint span{
  display: none;
}
.cnt1{
  overflow-x: scroll;
  scrollbar-width: none;
}
.listandinp input{
  display: none;
}
@media  screen and   (min-width: 1441px) and (max-width: 2560px){
    .nav{
      width: 80%;
      margin: auto auto;
    }
    .cnt1{
      justify-content: space-between;

    }
    ul{
      justify-content: center;
      gap: 20px;
    }
    .content1{
      width: 80%;
      margin: auto auto;
    }
    .content1 .cnt1{
      width: 100%;
    }
    .foot{
      width: 90%;
      margin: auto auto;
    }
    .incard img{
      width: 300px;
      height: 300px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .foot{
    width: 100%;
  }
  .content1{
      width: 90%;
      margin: auto auto;
    }
      .incard img{
        width: 180px;
        height: 180px;
      }
    .nav{
      width: 90%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav{
    width: 100%;
    margin: auto auto;  
  }
  .menu{
    justify-content: center;
    flex: 1;
  }
  .navlist{
    
    flex: 6;
  }
  .logo{
    flex: 1;
  }
  .btn1{
    display: none;
  }
  .inp{
    width: 80%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .firstlogo{
    display: none;
  }
  .secondlogo{
    display: block;
  }
  .nav{
    width: 100%;
  }
  .iner img{
    width: 35px;
    height: 35px;
  }
  .iner p{
    font-size: small;
  }
  .iner{
    gap: 2px;
  }
  
  .inp{
    width: 90%;
  }
  
}
@media screen and (min-width:376px) and (max-width:425px) {
  .main{
    width: 100%;
  }
}
/* @media screen and (min-width: 1023px) and (max-width: 1440px) {
  .listandinp input{
    margin: auto;
  display: block;
}
.inp{
  display: none;
}
.logo{
  display: none;
}
.menu{
  display: none;
}

  .nav{
    justify-content: end;
    padding-bottom: 10px;
    height: 150px;
    
  }
  .listandinp{
    gap: 20px;
  }
  ul{
    width: 80%;
    justify-content: space-between;
  }
  .extraint span{
  display: block;
}
} */







 /* @media (max-width: 1439px){
    .nav{
      width: 80%;
      margin: auto auto;
    }
    .cnt1{
      justify-content: space-between;

    }
    .content1{
      width: 80%;
      margin: auto auto;
    }
    .content1 .cnt1{
      width: 100%;
    }
    .foot{
      width: 80%;
      margin: auto auto;
    }
    
}
@media (max-width: 2560px) {
  .card1{
      height: 300px;
      width: 300px;
    }
    .incard img{
      width: 300px;
      height: 200px;
    }
  
} */